services:
  lessons:
    build:
      context: .
      dockerfile: ./apps/lessons/Dockerfile
      target: development
    command: sh -c "
      pnpm prisma migrate deploy --schema apps/lessons/prisma/schema.prisma &&
      pnpm prisma generate --schema apps/lessons/prisma/schema.prisma &&
      pnpm run start:dev lessons"
    depends_on:
      - postgres
    env_file:
      - ./apps/lessons/.env
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: development
    command: sh -c "
      pnpm prisma migrate deploy --schema apps/auth/prisma/schema.prisma &&
      pnpm prisma generate --schema apps/auth/prisma/schema.prisma &&
      pnpm run start:dev auth"
    depends_on:
      - postgres
    env_file:
      - ./apps/auth/.env
    ports:
      - '3001:3001'
    volumes:
      - .:/usr/src/app
  payments:
    build:
      context: .
      dockerfile: ./apps/payments/Dockerfile
      target: development
    command: npm run start:dev payments
    env_file:
      - ./apps/payments/.env
    ports:
      - '3003:3003'
    volumes:
      - .:/usr/src/app
  organizations:
    build:
      context: .
      dockerfile: ./apps/organizations/Dockerfile
      target: development
    command: sh -c "
      pnpm prisma migrate deploy --schema apps/organizations/prisma/schema.prisma &&
      pnpm prisma generate --schema apps/organizations/prisma/schema.prisma &&
      pnpm run start:dev organizations"
    depends_on:
      - postgres
    env_file:
      - ./apps/organizations/.env
    ports:
      - '3004:3004'
    volumes:
      - .:/usr/src/app
  notifications:
    build:
      context: .
      dockerfile: ./apps/notifications/Dockerfile
      target: development
    command: sh -c "pnpm run start:dev notifications"
    depends_on:
      - postgres
    env_file:
      - ./apps/notifications/.env
    ports:
      - '3006:3006'
    volumes:
      - .:/usr/src/app
  files:
    build:
      context: .
      dockerfile: ./apps/files/Dockerfile
      target: development
    command: npm run start:dev files
    env_file:
      - ./apps/files/.env
    ports:
      - '3007:3007'
    volumes:
      - .:/usr/src/app
  cars:
    build:
      context: .
      dockerfile: ./apps/cars/Dockerfile
      target: development
    command: sh -c "
      pnpm prisma migrate deploy --schema apps/cars/prisma/schema.prisma &&
      pnpm prisma generate --schema apps/cars/prisma/schema.prisma &&
      pnpm run start:dev cars"
    depends_on:
      - postgres
    env_file:
      - ./apps/cars/.env
    ports:
      - '3009:3009'
    volumes:
      - .:/usr/src/app
  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: 'postgres'
